<div class="contact_container">
    <h3>Say Hi!</h3>
    <div class="masage_box">
        <p>Wand to discuss a new project?</p>
        <span>Say hello! let's discuss your ideas and make it happen</span>
        <div class="contact_box">




            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                <label class="lable_name" for="fname">Your name</label>
                <input class="form_input name_input" [(ngModel)]="contactData.name" type="text" id="fname" name="firstname" required>
            
                <label for="lname">Your email</label>
                <input class="form_input" [(ngModel)]="contactData.email" type="text" id="lname" name="lastname" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                      
                <label for="subject">Your message</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject" style="height:200px" required></textarea>
                @if (!message.valid && message.touched && !message.disabled) {
                    <span>Please enter a message</span>
                }
                <div class="checkbox">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</div>
                <input class="submit_input" type="submit" value="Submit">
            
              </form>





    </div>
</div>