.header_container {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    z-index: 999;
}

.right_space {
    margin-right: 100px;
}

.header {
    height: 92px;
    background-color: #FFFCF3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
    margin-left: 16px;
}

.header_right_box{
    display: flex;
    align-items: center;

    img{
        margin-right: 50px;
    }
}

.language_box{
    display: flex;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;

    p{
        cursor: pointer;
    }
}