.header_container {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    z-index: 999;
   
}

.header {
    height: 92px;
    background-color: #FFFCF3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
}

.logo {
    height: 32px;
    margin-left: 16px;
}

.header_right_box{
    display: flex;
    align-items: center;

    img{
        margin-right: 50px;
    }
}

.language_box{
    display: flex;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;

    p{
        cursor: pointer;
    }
}


@media (max-width: 1500px) {
    .header_container {
        max-width: 1000px;
    }
    
}

@media (max-width: 1080px) {
    .header_container {
        max-width: 700px;
    }
    .header{
        padding-inline: 10px;
    }
    
}

@media (max-width: 740px) {
    .header_container {
        max-width: 318px;
    }
    .header{
        padding-inline: 10px;
    }
    .logo {
        height: 24px;
        margin-left: 16px;
    }
    
}