<div class="header_container ">

    <div class="header">
        <a href="#top"><img class="logo " src="../../../assets/img/logo1.png" alt="logo" [ngStyle]="{'margin-left.px': showMenu ? space-4.5 : space}" ></a>
     
    
        <img (click)="toggleMenu()" src="../../../assets/img/burger menu S3.svg" alt="menu"
            [ngStyle]="{'margin-right.px': showMenu ? space+5 : space}"
            style="height: 32px; width: 40px; cursor: pointer;">

    </div>

    @if (showMenu) {
        <app-overlay-menu (setMenu)="closeMenu($event)"></app-overlay-menu>
        }
</div>


<!-- style="margin-left: 100px;"  -->