<div class="content_container">
    <div class="content_box">
        <div class="left_box">
            <h2>{{'AboutMe' | translate}}</h2>
            <span>{{'AboutMe_text1' | translate}}<br><br>
            {{'AboutMe_text2' | translate}}</span>

            <a href="#contact">{{'letsTalk' | translate}}</a>

        </div>
        <div class="right_box">
            <div class="border_container">
                <img src="./assets/img/Foto.jpg" alt="">
            </div>
            <img class="arrow" src="./assets/img/Group 3.svg" alt="">
        </div>
    </div>
</div>

<!-- <span>Als Junior Softwareentwickler verfüge ich über fundierte Kenntnisse in JavaScript und Angular. Die
    Entwicklung von Software begleitet mich schon mein gesamtes Berufsleben. Angefangen mit der
    Programmierung von SPS in der Ausbildung, habe ich im Studium gefallen an Hochsprachen gefunden. In
    meiner Freizeit beschäftige ich mich mit C/C++ und Qt. <br><br>
    Wenn Sie denken, dass ich gut in Ihren Projekten mitwirken kann, kontaktieren Sie mich.</span> -->