<div class="content_container">
    <h2>About me</h2>
    <div class="content_box">
        <div class="left_box">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, id aspernatur! Consequatur itaque nisi porro quos velit, animi modi nihil mollitia nobis consectetur cupiditate et minus facilis quae, placeat quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum et esse repellendus quidem, voluptatum ut repellat explicabo ad similique qui, nobis doloremque quas odit alias unde aliquam rerum modi?</span>
            <!-- <button> <a href="/contact"></a>Let's talk</button> -->
            <button> <a routerLink="/contact"></a>Let's talk</button>
        </div>
        <div class="right_box">
            <img src="./assets/img/Foto.jpg" alt="">
        </div>
    </div>
</div>
