<div class="content_container">
    <div class="content_box">
        <div class="left_box">
            <h2>{{'AboutMe' | translate}}</h2>
            <span>{{'AboutMe_text1' | translate}}<br><br>
            {{'AboutMe_text2' | translate}}</span>

            <a href="#contact">{{'letsTalk' | translate}}</a>

        </div>
        <div class="right_box">
            <div class="border_container">
                <img src="./assets/img/Foto.jpg" alt="">
            </div>
            <img class="arrow" src="./assets/img/Group 3.svg" alt="">
        </div>
    </div>
</div>