<div class="main_container">
    <div class="link_container">
        <div class="link_box">
            <a href="#aboutMe" (click)="closeMenu()">
                <h2>About me</h2>
            </a>
            <div class="container">
                <div class="overlay corner"></div>
                <!-- <div class="overlay longline"></div>
                <div class="overlay shortline"></div> -->
            </div>
        </div>
        <div class="link_box">
            <a href="#mySkills" (click)="closeMenu()">
                <h2>My skills</h2>
                <div class="corner"></div>
            </a>
        </div>
        <div class="link_box">
            <a href="#portfolio" (click)="closeMenu()">
                <h2>Portfolio</h2>
                <div class="corner"></div>
            </a>
        </div>
    </div>
    <div class="lower_box">
        <div class="text_box">
            <h3>Say Hi!</h3>
            <p>marcus_harder&#64;gmx.de</p>
        </div>
    </div>

</div>






<!-- <div class="main_container">
    <div class="link_container">
        <div class="link_box">
            <a href="#aboutMe" (click)="closeMenu()"><h2>About me</h2></a>
        </div>
        <div class="link_box">
            <a href="#mySkills" (click)="closeMenu()"><h2>My skills</h2></a>
        </div>
        <div class="link_box">
            <a href="#portfolio" (click)="closeMenu()"><h2>Portfolio</h2></a>
        </div>
    </div>
    <div class="lower_box">
        <h3>Say Hi!</h3>
        <p>marcus_harder&#64;gmx.de</p>
    </div>

</div> -->