<div class="main_container">
    <div class="link_container">
        <div class="link_box">
            <a href="#aboutMe" (click)="closeMenu()">
                <h2>{{'anchor1' | translate}}</h2>
            </a>
            <div class="container">
                <div class="corner"></div>
            </div>
        </div>
        <div class="link_box">
            <a href="#mySkills" (click)="closeMenu()">
                <h2>{{'anchor2' | translate}}</h2>
                <div class="corner"></div>
            </a>
        </div>
        <div class="link_box">
            <a href="#portfolio" (click)="closeMenu()">
                <h2>Portfolio</h2>
                <div class="corner"></div>
            </a>
        </div>
    </div>
    <div class="lower_box">
        <div class="text_box">
            <h3>Say Hi!</h3>
            <p>mail&#64;marcus-harder.de</p>
        </div>
        <div class="icon_box">
            <img src="./assets/img/git-icon.svg" alt="gitHub Icon" (click)="onNavigate('https://github.com/rondarik')">
            <a href="mailto:mail@marcus-harder.de"> <img src="./assets/img/mail-icon.svg" alt="Mail Icon"></a>
            <img src="./assets/img/linked-icon.svg" alt="linkedIn-icon"
                (click)="onNavigate('https://linkedin.com/in/marcus-harder')">
        </div>
    </div>

</div>






<!-- <div class="main_container">
    <div class="link_container">
        <div class="link_box">
            <a href="#aboutMe" (click)="closeMenu()"><h2>About me</h2></a>
        </div>
        <div class="link_box">
            <a href="#mySkills" (click)="closeMenu()"><h2>My skills</h2></a>
        </div>
        <div class="link_box">
            <a href="#portfolio" (click)="closeMenu()"><h2>Portfolio</h2></a>
        </div>
    </div>
    <div class="lower_box">
        <h3>Say Hi!</h3>
        <p>marcus_harder&#64;gmx.de</p>
    </div>

</div> -->