h2 {
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    margin-left: 50px;
    margin: 0 23px 0 23px;
}

.text_box{
    background-color: #FFFCF3;
    margin-bottom: -40px;
    z-index: 10;
}

.skills_container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
  


}

.skills_box{
    width: 90%;
    border: 4px solid black;

    height: 500px;
    z-index: 1;

}