<div class="pp_contaier">
    <a href=""><img src="./assets/img/logo1.png" alt=""></a>
    @if (translate.germanLangAktiv) {
    <div class="german">
        <h1>Datenschutzerklärung</h1>
        <h2 id="m4158">Präambel</h2>
        <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer
            personenbezogenen
            Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen Zwecken und in welchem Umfang im Rahmen
            der
            Bereitstellung unserer Applikation verarbeiten.</p>
        <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>

        <p>Stand: 24. Juni 2024</p>
        <h2 id="m3">Verantwortlicher</h2>
        <p>Marcus Harder<br>Mittelweg 50<br>25479 Ellerau</p>
        <p>E-Mail-Adresse: mail&#64;marcus-harder.de</p>
        <p>Impressum: www.marcus-harder.de/impressum</p>

        <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
        <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen
            und
            verweist auf die betroffenen Personen.</p>
        <h3>Arten der verarbeiteten Daten</h3>
        <ul>
            <li>Bestandsdaten.</li>
            <li>Kontaktdaten.</li>
            <li>Inhaltsdaten.</li>
            <li>Nutzungsdaten.</li>
            <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
            <li>Protokolldaten.</li>
        </ul>
        <h3>Kategorien betroffener Personen</h3>
        <ul>
            <li>Kommunikationspartner.</li>
            <li>Nutzer.</li>
        </ul>
        <h3>Zwecke der Verarbeitung</h3>
        <ul>
            <li>Kommunikation.</li>
            <li>Organisations- und Verwaltungsverfahren.</li>
            <li>Feedback.</li>
            <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
            <li>Informationstechnische Infrastruktur.</li>
            <li>Öffentlichkeitsarbeit.</li>
        </ul>
        <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
        <p><strong>Maßgebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden erhalten Sie eine Übersicht der
            Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur
            Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder
            Sitzland gelten können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen
            wir
            Ihnen diese in der Datenschutzerklärung mit.</p>
        <ul>
            <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
                Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder
                zur
                Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
            </li>
            <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - die Verarbeitung ist zur
                Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten notwendig, vorausgesetzt,
                dass
                die Interessen, Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener
                Daten verlangen, nicht überwiegen.</li>
        </ul>
        <p><strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zusätzlich zu den Datenschutzregelungen der
            DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum
            Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG).
            Das
            BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum
            Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für
            andere
            Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich
            Profiling.
            Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.</p>

        <h2 id="m27">Sicherheitsmaßnahmen</h2>
        <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
            Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
            unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
            natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
            Schutzniveau zu gewährleisten.</p>
        <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von
            Daten
            durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden
            Zugriffs,
            der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
            Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen
            auf
            die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten
            bereits
            bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des
            Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
        <p>Sicherung von Online-Verbindungen durch TLS-/SSL-Verschlüsselungstechnologie (HTTPS): Um die Daten der
            Nutzer,
            die über unsere Online-Dienste übertragen werden, vor unerlaubten Zugriffen zu schützen, setzen wir auf die
            TLS-/SSL-Verschlüsselungstechnologie. Secure Sockets Layer (SSL) und Transport Layer Security (TLS) sind die
            Eckpfeiler der sicheren Datenübertragung im Internet. Diese Technologien verschlüsseln die Informationen,
            die
            zwischen der Website oder App und dem Browser des Nutzers (oder zwischen zwei Servern) übertragen werden,
            wodurch die Daten vor unbefugtem Zugriff geschützt sind. TLS, als die weiterentwickelte und sicherere
            Version
            von SSL, gewährleistet, dass alle Datenübertragungen den höchsten Sicherheitsstandards entsprechen. Wenn
            eine
            Website durch ein SSL-/TLS-Zertifikat gesichert ist, wird dies durch die Anzeige von HTTPS in der URL
            signalisiert. Dies dient als ein Indikator für die Nutzer, dass ihre Daten sicher und verschlüsselt
            übertragen
            werden.</p>

        <h2 id="m24">Internationale Datentransfers</h2>
        <p>Datenverarbeitung in Drittländern: Sofern wir Daten in einem Drittland (d. h., außerhalb der Europäischen
            Union
            (EU), des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der
            Inanspruchnahme
            von Diensten Dritter oder der Offenlegung bzw. Übermittlung von Daten an andere Personen, Stellen oder
            Unternehmen stattfindet, erfolgt dies nur im Einklang mit den gesetzlichen Vorgaben. Sofern das
            Datenschutzniveau in dem Drittland mittels eines Angemessenheitsbeschlusses anerkannt wurde (Art. 45 DSGVO),
            dient dieser als Grundlage des Datentransfers. Im Übrigen erfolgen Datentransfers nur dann, wenn das
            Datenschutzniveau anderweitig gesichert ist, insbesondere durch Standardvertragsklauseln (Art. 46 Abs. 2
            lit. c)
            DSGVO), ausdrückliche Einwilligung oder im Fall vertraglicher oder gesetzlich erforderlicher Übermittlung
            (Art.
            49 Abs. 1 DSGVO). Im Übrigen teilen wir Ihnen die Grundlagen der Drittlandübermittlung bei den einzelnen
            Anbietern aus dem Drittland mit, wobei die Angemessenheitsbeschlüsse als Grundlagen vorrangig gelten.
            Informationen zu Drittlandtransfers und vorliegenden Angemessenheitsbeschlüssen können dem
            Informationsangebot
            der EU-Kommission entnommen werden: <a
                href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
                target="_blank">https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de.</a>
        </p>
        <p>EU-US Trans-Atlantic Data Privacy Framework: Im Rahmen des sogenannten „Data Privacy Framework" (DPF) hat die
            EU-Kommission das Datenschutzniveau ebenfalls für bestimmte Unternehmen aus den USA im Rahmen der
            Angemessenheitsbeschlusses vom 10.07.2023 als sicher anerkannt. Die Liste der zertifizierten Unternehmen als
            auch weitere Informationen zu dem DPF können Sie der Website des Handelsministeriums der USA unter <a
                href="https://www.dataprivacyframework.gov/" target="_blank">https://www.dataprivacyframework.gov/</a>
            (in
            Englisch) entnehmen. Wir informieren Sie im Rahmen der Datenschutzhinweise, welche von uns eingesetzten
            Diensteanbieter unter dem Data Privacy Framework zertifiziert sind.</p>

        <h2 id="m10">Rechte der betroffenen Personen</h2>
        <p>Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte
            zu,
            die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:</p>
        <ul>
            <li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
                    ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund
                    von
                    Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
                    Bestimmungen gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet,
                    um
                    Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der
                    Sie
                    betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für
                    das
                    Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</strong></li>
            <li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen
                jederzeit
                zu widerrufen.</li>
            <li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob
                betreffende
                Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
                Daten entsprechend den gesetzlichen Vorgaben.</li>
            <li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die
                Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen
                Daten zu
                verlangen.</li>
            <li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe der
                gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden,
                bzw.
                alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu
                verlangen.</li>
            <li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten, die Sie uns
                bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und
                maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu
                fordern.
            </li>
            <li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen
                verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer
                Aufsichtsbehörde,
                insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts
                des
                mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
                personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.</li>
        </ul>

        <h2 id="m225">Bereitstellung des Onlineangebots und Webhosting</h2>
        <p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können. Zu
            diesem
            Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer
            Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer,
                Klickpfade,
                Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten
                und
                Funktionen); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
                Identifikationsnummern, beteiligte Personen); Protokolldaten (z.B. Logfiles betreffend Logins oder den
                Abruf
                von Daten oder Zugriffszeiten.). Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge
                sowie
                die sie betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung).
            </li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und
                Nutzerfreundlichkeit.
                Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und
                technischen
                Geräten (Computer, Server etc.).).</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
            </li>
        </ul>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>E-Mail-Versand und -Hosting: </strong>Die von uns in Anspruch genommenen Webhosting-Leistungen
                umfassen ebenfalls den Versand, den Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden
                die
                Adressen der Empfänger sowie Absender als auch weitere Informationen betreffend den E-Mailversand (z.B.
                die
                beteiligten Provider) sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten
                können
                ferner zu Zwecken der Erkennung von SPAM verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails
                im
                Internet grundsätzlich nicht verschlüsselt versendet werden. Im Regelfall werden E-Mails zwar auf dem
                Transportweg verschlüsselt, aber (sofern kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren
                eingesetzt
                wird) nicht auf den Servern, von denen sie abgesendet und empfangen werden. Wir können daher für den
                Übertragungsweg der E-Mails zwischen dem Absender und dem Empfang auf unserem Server keine Verantwortung
                übernehmen; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1
                    lit. f) DSGVO).</span></li>
            <li><strong>ALL-INKL: </strong>Leistungen auf dem Gebiet der Bereitstellung von informationstechnischer
                Infrastruktur und verbundenen Dienstleistungen (z. B. Speicherplatz und/oder Rechenkapazitäten);
                <strong>Dienstanbieter:</strong> ALL-INKL.COM - Neue Medien Münnich, Inhaber: René Münnich, Hauptstraße
                68,
                02742 Friedersdorf, Deutschland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte
                    Interessen
                    (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a href="https://all-inkl.com/"
                    target="_blank">https://all-inkl.com/</a>; <strong>Datenschutzerklärung:</strong> <a
                    href="https://all-inkl.com/datenschutzinformationen/"
                    target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
                <strong>Auftragsverarbeitungsvertrag:</strong> Wird vom Dienstanbieter bereitgestellt.
            </li>
        </ul>
        <h2 id="m182">Kontakt- und Anfrageverwaltung</h2>
        <p>Bei der Kontaktaufnahme mit uns (z.B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien)
            sowie
            im Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen
            verarbeitet,
            soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. der vollständige Name, Wohnadresse,
                Kontaktinformationen, Kundennummer, etc.); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
                Telefonnummern); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
                betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung);
                Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensität und -frequenz,
                verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten und Funktionen). Meta-,
                Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, beteiligte
                Personen).</li>
            <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Organisations- und Verwaltungsverfahren;
                Feedback
                (z.B. Sammeln von Feedback via Online-Formular). Bereitstellung unseres Onlineangebotes und
                Nutzerfreundlichkeit.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
                Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
        </ul>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Kontaktformular: </strong>Bei Kontaktaufnahme über unser Kontaktformular, per E-Mail oder
                anderen
                Kommunikationswegen, verarbeiten wir die uns übermittelten personenbezogenen Daten zur Beantwortung und
                Bearbeitung des jeweiligen Anliegens. Dies umfasst in der Regel Angaben wie Name, Kontaktinformationen
                und
                gegebenenfalls weitere Informationen, die uns mitgeteilt werden und zur angemessenen Bearbeitung
                erforderlich sind. Wir nutzen diese Daten ausschließlich für den angegebenen Zweck der Kontaktaufnahme
                und
                Kommunikation; <span class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
                    Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                    DSGVO).</span></li>
        </ul>
        <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
        <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Nutzerdaten, um
            mit
            den dort aktiven Nutzern zu kommunizieren oder Informationen über uns anzubieten.</p>
        <p>Wir weisen darauf hin, dass dabei Nutzerdaten außerhalb des Raumes der Europäischen Union verarbeitet werden
            können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so zum Beispiel die Durchsetzung der
            Nutzerrechte erschwert werden könnte.</p>
        <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und
            Werbezwecke
            verarbeitet. So können beispielsweise anhand des Nutzungsverhaltens und sich daraus ergebender Interessen
            der
            Nutzer Nutzungsprofile erstellt werden. Letztere finden möglicherweise wiederum Verwendung, um etwa
            Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer
            entsprechen. Daher werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das
            Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Zudem können in den Nutzungsprofilen
            auch
            Daten unabhängig der von den Nutzern verwendeten Geräten gespeichert werden (insbesondere, wenn sie
            Mitglieder
            der jeweiligen Plattformen und dort eingeloggt sind).</p>
        <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten
            (Opt-out)
            verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>
        <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass
            diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur Letztere haben jeweils Zugriff
            auf
            die Nutzerdaten und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch
            Hilfe benötigen, dann können Sie sich an uns wenden.</p>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. Post- und E-Mail-Adressen oder
                Telefonnummern);
                Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie betreffenden
                Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung). Nutzungsdaten (z. B.
                Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensität und -frequenz, verwendete Gerätetypen und
                Betriebssysteme, Interaktionen mit Inhalten und Funktionen).</li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Feedback (z.B. Sammeln von Feedback via
                Online-Formular). Öffentlichkeitsarbeit.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
            </li>
        </ul>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>LinkedIn: </strong>Soziales Netzwerk - Wir sind gemeinsam mit LinkedIn Irland Unlimited Company
                für
                die Erhebung (jedoch nicht die weitere Verarbeitung) von Daten der Besucher, die zu Zwecken der
                Erstellung
                der „Page-Insights" (Statistiken) unserer LinkedIn-Profile erstellt werden, verantwortlich. <br>Zu
                diesen
                Daten gehören Informationen zu den Arten von Inhalten, die Nutzer sich ansehen oder mit denen sie
                interagieren, oder die von ihnen vorgenommenen Handlungen sowie Informationen über die von den Nutzern
                genutzten Geräte (z.B. IP-Adressen, Betriebssystem, Browsertyp, Spracheinstellungen, Cookie-Daten) und
                Angaben aus dem Profil der Nutzer, wie Berufsfunktion, Land, Branche, Hierarchieebene, Unternehmensgröße
                und
                Beschäftigungsstatus. Datenschutzinformationen zur Verarbeitung von Daten der Nutzer durch LinkedIn
                können
                den Datenschutzhinweisen von LinkedIn entnommen werden: <a
                    href="https://www.linkedin.com/legal/privacy-policy"
                    target="_blank">https://www.linkedin.com/legal/privacy-policy</a> <br>Wir haben mit LinkedIn Irland
                eine
                spezielle Vereinbarung abgeschlossen ("Page Insights Joint Controller Addendum (the ‚Addendum‘)", <a
                    href="https://legal.linkedin.com/pages-joint-controller-addendum"
                    target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>), in der insbesondere
                geregelt wird, welche Sicherheitsmaßnahmen LinkedIn beachten muss und in der LinkedIn sich bereit
                erklärt
                hat die Betroffenenrechte zu erfüllen (d. h. Nutzer können z.B. Auskünfte oder Löschungsanfragen direkt
                an
                LinkedIn richten). Die Rechte der Nutzer (insbesondere auf Auskunft, Löschung, Widerspruch und
                Beschwerde
                bei zuständiger Aufsichtsbehörde), werden durch die Vereinbarungen mit LinkedIn nicht eingeschränkt. Die
                gemeinsame Verantwortlichkeit beschränkt sich auf die Erhebung der Daten durch und die Übermittlung an
                die
                Ireland Unlimited Company, ein Unternehmen mit Sitz in der EU. Die weitere Verarbeitung der Daten
                obliegt
                ausschließlich der Ireland Unlimited Company, was insbesondere die Übermittlung der Daten an die
                Muttergesellschaft LinkedIn Corporation in den USA betrifft; <strong>Dienstanbieter:</strong> LinkedIn
                Ireland Unlimited Company, Wilton Place, Dublin 2, Irland; <span
                    class=""><strong>Rechtsgrundlagen:</strong>
                    Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a
                    href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>;
                <strong>Datenschutzerklärung:</strong> <a href="https://www.linkedin.com/legal/privacy-policy"
                    target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Grundlage
                    Drittlandtransfers:</strong> Data Privacy Framework (DPF). <strong>Widerspruchsmöglichkeit
                    (Opt-Out):</strong> <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                    target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.
            </li>
        </ul>
        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a></p>
    </div>
    } @else {
    <div class="english">

        <h1>Privacy Policy</h1>

        <h2>Preamble</h2>

        With the following privacy policy, we would like to inform you about the types of your personal data
        (hereinafter
        also referred to as "data") that we process, for what purposes, and to what extent in the context of providing
        our
        application.

        The terms used are not gender-specific.

        As of: June 24, 2024

        <h2>Controller</h2>

        <p>Marcus Harder<br>Mittelweg 50<br>25479 Ellerau</p>
        <p>E-Mail-Adresse: mail&#64;marcus-harder.de</p>
        <p>Impressum: www.marcus-harder.de/impressum</p>

        Overview of Processing

        <h2>The following overview </h2>
        <p>summarizes the types of data processed and the purposes of their processing and refers to the affected
            individuals.</p>

        <h3>Types of Data Processed</h3>
        Inventory data.<br>
        Contact data.<br>
        Content data.<br>
        Usage data.<br>
        Meta, communication, and procedural data.<br>
        Log data.<br>

        <h3> Categories of Data Subjects</h3>
        Communication partners. <br>
        Users.<br>

        <h3> Purposes of Processing</h3>
        Communication.<br>
        Organizational and administrative procedures.<br>
        Feedback.<br>
        Provision of our online offer and user-friendliness.<br>
        Information technology infrastructure.<br>
        Public relations.<br>

        <h2>Relevant Legal Bases</h2>

        Relevant legal bases under the GDPR: Below you will find an overview of the legal bases of the GDPR on which we
        process personal data. Please note that, in addition to the regulations of the GDPR, national data protection
        regulations may apply in your or our country of residence or location. If more specific legal bases are
        applicable in individual cases, we will inform you of these in the privacy policy.

        Performance of a contract and pre-contractual inquiries (Art. 6(1) sentence 1 lit. b) GDPR) - The processing is
        necessary for the performance of a contract to which the data subject is a party or in order to take steps at
        the request of the data subject prior to entering into a contract.
        Legitimate interests (Art. 6(1) sentence 1 lit. f) GDPR) - The processing is necessary for the purposes of the
        legitimate interests pursued by the controller or by a third party, except where such interests are overridden
        by the interests or fundamental rights and freedoms of the data subject which require protection of personal
        data.
        National data protection regulations in Germany: In addition to the data protection regulations of the GDPR,
        national data protection regulations apply in Germany. This includes, in particular, the Federal Data Protection
        Act (Bundesdatenschutzgesetz - BDSG), which contains specific provisions on the right to information, the right
        to deletion, the right to object, the processing of special categories of personal data, the processing for
        other purposes, and the transmission and automated decision-making in individual cases including profiling.
        Furthermore, the data protection laws of the individual federal states may apply.


        <h2>Security Measures</h2>

        In accordance with legal requirements, we take appropriate technical and organizational measures to ensure a
        level of security appropriate to the risk, taking into account the state of the art, the costs of
        implementation, and the nature, scope, circumstances, and purposes of the processing as well as the varying
        likelihood and severity of the threat to the rights and freedoms of natural persons.

        These measures include, in particular, securing the confidentiality, integrity, and availability of data by
        controlling physical and electronic access to the data as well as access to, input, transmission, ensuring
        availability, and separation of the data. Furthermore, we have established procedures that ensure the exercise
        of data subjects' rights, the deletion of data, and responses to data threats. Additionally, we consider the
        protection of personal data during the development or selection of hardware, software, and procedures according
        to the principle of data protection by design and by default.

        Securing online connections through TLS/SSL encryption technology (HTTPS): To protect the data of users
        transmitted via our online services from unauthorized access, we use TLS/SSL encryption technology. Secure
        Sockets Layer (SSL) and Transport Layer Security (TLS) are the cornerstones of secure data transmission on the
        Internet. These technologies encrypt the information transmitted between the website or app and the user's
        browser (or between two servers), protecting the data from unauthorized access. TLS, being the advanced and more
        secure version of SSL, ensures that all data transmissions meet the highest security standards. When a website
        is secured with an SSL/TLS certificate, this is indicated by the display of HTTPS in the URL. This serves as an
        indicator for users that their data is being transmitted securely and encrypted.


        <h2>International Data Transfers</h2>

        Data processing in third countries: If we process data in a third country (i.e., outside the European Union
        (EU), the European Economic Area (EEA)) or if the processing takes place in the context of using third-party
        services or disclosing or transferring data to other persons, entities, or companies, this is done only in
        accordance with legal requirements. If the level of data protection in the third country has been recognized by
        an adequacy decision (Art. 45 GDPR), this serves as the basis for the data transfer. Otherwise, data transfers
        are only carried out if the level of data protection is otherwise ensured, particularly through standard
        contractual clauses (Art. 46(2)(c) GDPR), explicit consent, or in the case of contractual or legally required
        transfer (Art. 49(1) GDPR). Furthermore, we inform you of the basis for the transfer to a third country for each
        third-party provider, with adequacy decisions taking precedence. Information on third-country transfers and
        existing adequacy decisions can be found on the EU Commission's information page:
        https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de.

        EU-US Trans-Atlantic Data Privacy Framework: Within the framework of the so-called "Data Privacy Framework"
        (DPF), the EU Commission has also recognized the level of data protection as secure for certain companies from
        the USA within the framework of the adequacy decision of July 10, 2023. The list of certified companies and
        further information on the DPF can be found on the website of the U.S. Department of Commerce at
        https://www.dataprivacyframework.gov/ (in English). We inform you in our privacy notices which service providers
        we use that are certified under the Data Privacy Framework.


        <h2>Rights of Data Subjects</h2>

        Rights of data subjects under the GDPR: As a data subject, you have various rights under the GDPR, which arise
        in particular from Articles 15 to 21 GDPR:

        Right to Object: You have the right to object at any time, on grounds relating to your particular situation, to
        the processing of your personal data, which is based on Article 6(1)(e) or (f) GDPR; this also applies to
        profiling based on these provisions. If your personal data is processed for direct marketing purposes, you have
        the right to object at any time to the processing of your personal data for such marketing; this also applies to
        profiling to the extent that it is related to such direct marketing.

        Right to Withdraw Consent: You have the right to withdraw your given consent at any time.

        Right of Access: You have the right to obtain confirmation as to whether or not data concerning you are being
        processed, and, where that is the case, to access the data and to obtain further information and a copy of the
        data in accordance with legal requirements.

        Right to Rectification: You have the right to request the completion of incomplete data concerning you or the
        rectification of inaccurate data concerning you in accordance with legal requirements.

        Right to Erasure and Restriction of Processing: You have the right, in accordance with legal requirements, to
        request that data concerning you be erased immediately, or alternatively, to request a restriction of the
        processing of the data in accordance with legal requirements.

        Right to Data Portability: You have the right to receive the data concerning you, which you have provided to us,
        in a structured, commonly used and machine-readable format and to request its transmission to another controller
        in accordance with legal requirements.

        Right to Lodge a Complaint with a Supervisory Authority: Without prejudice to any other administrative or
        judicial remedy, you have the right to lodge a complaint with a supervisory authority, in particular in the
        Member State of your habitual residence, place of work, or the place of the alleged infringement if you consider
        that the processing of personal data relating to you infringes the GDPR.


        <h2>Provision of Online Offerings and Web Hosting</h2>

        We process users' data to provide them with our online services. For this purpose, we process the user's IP
        address, which is necessary to deliver the content and functions of our online services to the user's browser or
        device.

        Processed Data Types:

        Usage Data (e.g., page views and duration of visits, click paths, usage intensity and frequency, device types
        and operating systems used, interactions with content and functions)
        Meta, Communication, and Procedural Data (e.g., IP addresses, timestamps, identification numbers, involved
        persons)
        Log Data (e.g., log files related to logins or data retrievals or access times)
        Content Data (e.g., textual or visual messages and posts as well as related information such as authorship or
        creation time)
        Data Subjects:

        Users (e.g., website visitors, users of online services)
        Purposes of Processing:

        Provision of our online offerings and user-friendliness
        Information technology infrastructure (operation and provision of information systems and technical devices
        (computers, servers, etc.))
        Retention and Deletion:

        Deletion in accordance with the information in the section "General Information on Data Storage and Deletion"
        Legal Bases:

        Legitimate Interests (Art. 6(1) sentence 1 lit. f) GDPR)
        Further Notes on Processing Procedures, Practices, and Services:

        Email Dispatch and Hosting:
        The web hosting services we use also include the sending, receiving, and storage of emails. For these purposes,
        the addresses of recipients and senders as well as other information regarding email dispatch (e.g., involved
        providers) and the content of the respective emails are processed. The aforementioned data may also be processed
        for the purpose of detecting spam. Please note that emails are generally not sent in encrypted form over the
        Internet. While emails are usually encrypted during transport, they are not encrypted on the servers from which
        they are sent and received (unless an end-to-end encryption method is used). Therefore, we cannot take
        responsibility for the transmission path of emails between the sender and the reception on our server; Legal
        Bases: Legitimate Interests (Art. 6(1) sentence 1 lit. f) GDPR).

        ALL-INKL:
        Services in the field of providing information technology infrastructure and related services (e.g., storage
        space and/or computing capacities); Service provider: ALL-INKL.COM - Neue Medien Münnich, owner: René Münnich,
        Hauptstraße 68, 02742 Friedersdorf, Germany; Legal Bases: Legitimate Interests (Art. 6(1) sentence 1 lit. f)
        GDPR); Website: https://all-inkl.com/; Privacy Policy: https://all-inkl.com/datenschutzinformationen/. Data
        Processing Agreement: Provided by the service provider.


        <h2>Contact and Inquiry Management</h2>

        When contacting us (e.g., by mail, contact form, email, telephone, or via social media) and within existing user
        and business relationships, the information provided by the requesting individuals is processed to the extent
        necessary to respond to the contact inquiries and any requested actions.

        Processed Data Types:

        Inventory Data (e.g., full name, residential address, contact information, customer number, etc.)
        Contact Data (e.g., postal and email addresses, or telephone numbers)
        Content Data (e.g., textual or visual messages and posts as well as related information such as authorship or
        creation time)
        Usage Data (e.g., page views and duration of visits, click paths, usage intensity and frequency, device types
        and operating systems used, interactions with content and functions)
        Meta, Communication, and Procedural Data (e.g., IP addresses, timestamps, identification numbers, involved
        persons)
        Data Subjects:

        Communication Partners
        Purposes of Processing:

        Communication
        Organizational and administrative procedures
        Feedback (e.g., collecting feedback via online forms)
        Provision of our online offerings and user-friendliness
        Retention and Deletion:

        Deletion in accordance with the information in the section "General Information on Data Storage and Deletion"
        Legal Bases:

        Legitimate Interests (Art. 6(1) sentence 1 lit. f) GDPR)
        Contract Performance and Pre-contractual Inquiries (Art. 6(1) sentence 1 lit. b) GDPR)
        Further Notes on Processing Procedures, Practices, and Services:

        Contact Form:
        When contacting us through our contact form, email, or other communication channels, we process the personal
        data transmitted to us to respond to and process the respective request. This typically includes information
        such as name, contact information, and any additional information provided to us that is necessary for
        appropriate processing. We use this data exclusively for the stated purpose of contact and communication; Legal
        Bases: Contract Performance and Pre-contractual Inquiries (Art. 6(1) sentence 1 lit. b) GDPR), Legitimate
        Interests (Art. 6(1) sentence 1 lit. f) GDPR).


        <h2>Social Media Presence</h2>

        We maintain online presences within social networks and process user data within this framework to communicate
        with active users there or to provide information about us.

        Please note that user data may be processed outside the European Union. This may pose risks for users, for
        example, because it could make it more difficult to enforce user rights.

        Furthermore, user data within social networks is typically processed for market research and advertising
        purposes. For instance, usage behavior and resulting user interests may be used to create user profiles. These
        profiles may then be used to display advertisements within and outside the networks that presumably correspond
        to the users' interests. As a result, cookies are typically stored on users' computers, in which user behavior
        and interests are stored. In addition, data may also be stored in the user profiles independently of the devices
        used by the users (especially if they are members of the respective platforms and logged in there).

        For a detailed description of the respective processing methods and opt-out options, we refer you to the privacy
        policies and information provided by the operators of the respective networks.

        Even in the case of requests for information and the assertion of data subject rights, we would like to point
        out that these rights can be most effectively asserted with the providers themselves. Only they have access to
        user data and can take appropriate measures and provide information directly. If you still need assistance, you
        can contact us.

        Processed Data Types:

        Contact Data (e.g., postal and email addresses or telephone numbers)
        Content Data (e.g., textual or visual messages and posts as well as related information such as authorship or
        creation time)
        Usage Data (e.g., page views and duration of visits, click paths, usage intensity and frequency, device types
        and operating systems used, interactions with content and functions)
        Data Subjects:

        Users (e.g., website visitors, users of online services)
        Purposes of Processing:

        Communication
        Feedback (e.g., collecting feedback via online forms)
        Public relations
        Retention and Deletion:

        Deletion according to the information in the section "General Information on Data Storage and Deletion"
        Legal Basis:

        Legitimate Interests (Art. 6(1) sentence 1 lit. f) GDPR)



        LinkedIn Social Network

        We maintain online presences on LinkedIn and process user data for the purpose of creating "Page Insights"
        (statistics) on our LinkedIn profiles. We are jointly responsible with LinkedIn Ireland Unlimited Company for
        the collection (but not further processing) of visitor data for this purpose.

        The data collected includes information about the types of content users view or interact with, actions taken by
        them, and information about the devices used by users (e.g., IP addresses, operating system, browser type,
        language settings, cookie data), as well as details from user profiles such as job function, country, industry,
        hierarchy level, company size, and employment status.

        For detailed information regarding the processing of user data by LinkedIn, please refer to LinkedIn's privacy
        policy: https://www.linkedin.com/legal/privacy-policy.

        We have entered into a specific agreement with LinkedIn Ireland called the "Page Insights Joint Controller
        Addendum," available at https://legal.linkedin.com/pages-joint-controller-addendum. This agreement specifies the
        security measures that LinkedIn must adhere to and LinkedIn's commitment to fulfilling data subjects' rights
        (e.g., users can directly address requests for information or deletion to LinkedIn). Users' rights (especially
        regarding access, deletion, objection, and complaint to the competent supervisory authority) are not restricted
        by the agreements with LinkedIn.

        The joint responsibility is limited to the collection of data by and its transmission to LinkedIn Ireland
        Unlimited Company, a company based in the EU. The further processing of the data is solely the responsibility of
        LinkedIn Ireland Unlimited Company, including the transmission of data to the parent company LinkedIn
        Corporation in the USA.

        Service Provider:

        LinkedIn Ireland Unlimited Company, Wilton Place, Dublin 2, Ireland
        Legal Basis:

        Legitimate Interests (Art. 6(1) sentence 1 lit. f) GDPR)
        Website:

        https://www.linkedin.com
        Privacy Policy:

        ttps://www.linkedin.com/legal/privacy-policy
        Basis for Third-Country Transfers:

        Data Privacy Framework (DPF)
        Opt-Out Option:

        https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out.

        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Created with free Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a></p>

    </div>
    }
    <a href=""><img src="./assets/img/logo2.png" alt="page logo"></a>
</div>