
#top,#aboutMe,#mySkills,#portfolio{
    height: 92px;
}

.main_content{
    width: 1440px;
    max-width: 1440px;
}


@media (max-width: 1500px) {
    .main_content {
        width: 1000px;
    }
}

@media (max-width: 1080px) {
    .main_content {
        width: 700px;
    }
}

@media (max-width: 740px) {
    .main_content {
        width: 310px;
    }
}