<div class="imprint">
    <a class="logo1" href=""><img src="./assets/img/logo1.png" alt="page logo"></a>
    <div class="address">
  
        <h3>Impressum</h3>
        <p>Marcus Harder</p>
        <p>Mittelweg 50</p>
        <p>25479 Ellauer</p>
    </div>
    <div class="kontakt">
        <h3>Kontakt</h3>
        <p>Tel: 017697643639</p>
        <p>mail&#64;marcus-harder.de</p>
        <a class="logo2" href=""><img src="./assets/img/logo2-white.png" alt="page logo"></a>
    </div>
    
</div>