h3 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 45px;
    margin: 0 0 15px 0;
}

.project_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

    img {
        width: 620px;
        height: 393px;
        filter: grayscale(100%);
    }
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.border_box_for_img {
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.project_box:hover {
    img {
        filter: none;
    }

    .border_box_for_img::before {
        content: '';
        position: absolute;
        border: 4px solid #000000;
        width: 620px;
        height: 393px;
        transform: translate(20px, 20px);
    }

    .project_discription {
        transition: transform 1s;
        transform: translateX(0);
    }
}

.number_of_project {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    align-self: end;
    margin-bottom: -30px;
}

.reverse_number {
    align-self: normal;
}

.project {
    display: flex;
}

.project_discription {
    margin: 0 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-700px);

    div {
        font-family: 'Overpss';
        font-weight: 400;
        font-size: 23px;
        color: #FF9900;
        margin-bottom: 15px;
    }

    span {
        font-family: 'Overpss';
        font-weight: 400;
        font-size: 16px;
        max-width: 500px;
    }

    a {
        width: 164px;
        height: 68px;
        border: 4px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        text-decoration: none;
        color: #000000;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 23px;
        transition: width 0.25s;
        cursor: pointer;
    }

    a:hover {
        width: 204px;
        font-weight: 600;
    }
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .project_discription {
        margin: 0;
        transform: translateX(700px);
    }
}