<div class="project_box">
    <div class="number_of_project">01/03</div>
    <div class="project">
        <div class="border_box_for_img">
            <img src="./assets/img/project-join.png" alt="project join image">
        </div>
        <div class="project_discription">
            <h3>JOIN</h3>
            <div>JavaScript | CSS | HTML </div>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            <a href="#">Test</a>
        </div>
    </div>
</div>
