<div class="footer_container">
    <div class="footer_box">
        <div class="logo_box">
            <img src="./assets/img/logo2-white.png" alt="logo">
            &#169; Marcus Harder 2024
        </div>
        <div class="icon_box">
            <img src="./assets/img/git-icon.svg" alt="">
            <img src="./assets/img/mail-icon.svg" alt="">
            <img src="./assets/img/linked-icon.svg" alt="">
        </div>
    </div>
    <a href="#">Legal notice</a><a href="#">Impress</a>
</div>