<div class="footer_container">
    <div class="footer_box">
        <div class="logo_box">
            <a href="#top"><img src="./assets/img/logo2-white.png" alt="logo"></a>
            &#169; Marcus Harder 2024
        </div>
        <div class="icon_box">
            <img src="./assets/img/git-icon.svg" alt="gitHub Icon" (click)="onNavigate('https://github.com/rondarik')">
            <a href="mailto:mail@marcus-harder.de"> <img src="./assets/img/mail-icon.svg" alt="Mail Icon"></a>
            <img src="./assets/img/linked-icon.svg" alt="linkedIn-icon"
                (click)="onNavigate('https://linkedin.com/in/marcus-harder')">
        </div>
    </div>
    <span><a href="impressum">{{'impress' | translate}}</a></span>
</div>